PORT=
NODE_ENV=

DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=

MONGO_URI=

JWT_SECRET=
JWT_EXPIRES_IN=

BCRYPT_SALT_ROUNDS=

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=

FRONTEND_RESET_PASSWORD_URL=

UPLOAD_MAX_FILE_SIZE_BYTES=
UPLOAD_MAX_FILES=

APP_LINK_HOST=vireochef.app
ANDROID_APP_LINK_PACKAGE_NAME=com.mobile
ANDROID_APP_LINK_SHA256_CERT_FINGERPRINTS=
IOS_APP_LINK_APP_IDS=
